# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env310/
.venv/
venv/

# IDE/editor configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out

# Jupyter Notebook
.ipynb_checkpoints/

# Datasets
data/
*.csv

# Model artifacts
*.h5
*.keras
*.ckpt
asl_model.tflite
saved_model/

# C extensions / debugging
*.pdb
